<app-dashboard *ngIf="currentPage === 'dashboard'"></app-dashboard>
<app-orders *ngIf="currentPage === 'orders'"></app-orders>
<app-clients *ngIf="currentPage === 'clients'"></app-clients>
<app-services *ngIf="currentPage === 'services'"></app-services>
<app-proposals *ngIf="currentPage === 'proposals'"></app-proposals>
<app-invoices *ngIf="currentPage === 'invoices'"></app-invoices>
<app-tickets *ngIf="currentPage === 'tickets'"></app-tickets>
<app-team *ngIf="currentPage === 'team'"></app-team>
<app-integrations *ngIf="currentPage === 'integrations'"></app-integrations>
<app-payments *ngIf="currentPage === 'payments'"></app-payments>
