.ngb-toasts {
  position: fixed;
  right: 15px;
  padding: 10px;
  z-index: 1660;
}

.bgsuccess {
  background-color: #2ab57d;
  padding:0px 10px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.bg-success-color {
  background-color: #aae1cb !important;
}

.bgsuccess1 {
  background-color: #fd625e;
  padding:0px 10px;
  border-radius: 4px 0px 0px 4px;
  color: white;
  border-left-color: #fd625e !important;
  font-size: 20px;
  font-weight: 600;
}

.bg-danger-color {
  background-color: #fec0bf !important;
}

.bgsuccess2 {
  background-color: #4ba6ef;
  padding:0px 10px;
  color: white;
  border-radius: 4px 0px 0px 4px;
  font-size: 20px;
  font-weight: 600;
}

.bg-info-color {
  background-color: #b7dbf9 !important;
}

.bgsuccess3 {
  background-color: #ffbf53;
  padding:0px 10px;
  color: white;
  border-radius: 4px 0px 0px 4px;
  font-size: 20px;
  font-weight: 600;
}

.bg-warning-color {
  background-color: #ffe5ba !important;
}

.curPnt {
    cursor: pointer;
}

.ck-editor__editable_inline {
  min-height: 150px;
  height: 100%;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.modal-form-label {
  overflow: hidden;
  color: var(--content-content-secondary, rgba(33, 37, 41, 0.52));
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Avenir Next Demi";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  padding: 12px 16px;
  word-wrap: break-word;
  top: -15% !important;
}

.modal-form-input {
  display: flex;
  padding: .5rem 1rem .5rem 1rem !important;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 6px;
  color: var(--content-content-primary, #212529);
  font-family: "Avenir Next Demi";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
  height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
  min-height: calc(2.5rem + calc(var(--bs-border-width) * 2)) !important;
  border: 0.7px solid #808080;
}

.modalHead{
    font-size: 16px;
    font-weight: 600;
}